.search {
    height: fit-content;
    width: 320px;
    background-color: white;
    position: absolute;
    top: 80px;
    left: 15px;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    border-radius: 8px;
    color: #050505;
}

.search > div::-webkit-scrollbar {
    display: none;
}

.search h1 {
    font-size: 20px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.search > h1 > span {
    font-weight: 400;
    color: gray;
    font-size: 15px;
    margin-left: 10px;
}

.search > div {
    max-height: 500px;
    overflow: auto;
    border-radius: 8px;
    border: 1px solid rgba(223, 220, 220, 0.438);
}

.search__results {
    display: flex;
    align-items: center;
    padding: 8px;
}

.no__results {
    padding: 5px 0;
}

.search__results:hover {
    background-color: #eff2f5;
    cursor: pointer;
    border-radius: 8px;
}

.searchResults__avatar {
    margin-right: 15px;
}

.searchResults__name {
    line-height: 18px;
    font-size: 15px;
    text-transform: capitalize;
}

.searchResults__name p {
    color: #65676B;
    font-size: 13px;
}