.post__comments {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    max-height: 240px;
    overflow-y: auto;
}

.each__comment {
    margin: 5px 0;
    display: flex;
    align-items: flex-start;
}

.comment__avatar:hover  {
    cursor: pointer;
}

.comment__topInfo {
    margin-left: 10px;
    width: 100%;
}

.comment__name {
    background-color: #eff2f5;
    padding: 8px 15px;
    border-radius: 15px;
    line-height: 18px;
    position: relative;
}

.likeComment__icon {
    position: absolute;
    right: 0;
    bottom: -9px;
    color: white;
    background-color: white;
    padding: 2px 2px 2px 3px;
    border-radius: 999px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.likeComment__icon > p {
    color: #65676B;
    font-size: 14px;
    margin-left: 3px;
    padding-right: 3px;
}

.likeComment__icon > .MuiSvgIcon-root {
    padding: 3px;
    border-radius: 50%;;
    background-color: #2e81f4;
    font-size: 11px;
}

.comment__name > div {
    display: flex;
    align-items: center;
}

.comment__name > div > h3 {
    font-size: 13px;
    font-weight: 600;
    margin-right: 10px;
    text-transform: capitalize;
}

.comment__name > div > h3:hover {
    cursor: pointer;
    text-decoration: underline;
}

.comment__name > div > div {
    font-size: 12px;
    display: flex;
    align-items: center;
}

.comment__name > h4 {
    font-weight: normal;
    font-size: 14px;
    margin-top: 2px;
}

.comment__bottomInfo {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 13px;
    font-weight: 600;
    color: #65676B;
}

.comment__bottomInfo {
    font-weight: normal;
    font-size: 12px;
}

.likeComment__button {
    font-weight: 700;
}

.likeComment__button:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* EDIT COMMENT */

.comment__editInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.comment__editInput > form {
    margin: 5px 0;
    display: flex;
    align-self: flex-start;
    width: 100%;
}

.comment__editInput > form > input{
    width: 100%;
    outline-width: 0;
    border: 1px solid #ccd0d5;
    padding: 10px;
    border-radius: 8px;
    background-color: white;
    font-family: inherit;
}

.comment__editInput > p {
    font-style: italic;
    font-size: small;
    color: gray;
    align-self: flex-start;
}

.comment__editDelete > div {
    margin-right: 5px;
    display:flex;
    align-items: center;
    padding: 0 4px;
    border-radius: 4px;
    color: #65676B;
}

.comment__editDelete > div:hover {
    cursor: pointer;
    background-color: lightgray;
    color: #050505;
}