.create__post {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    width: 100%;
}

.createPost__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #eff2f5;
    padding: 15px;
}

.createPost__top > div {
    display: flex;
    align-items: center;
}

.createPost__top > p {
    font-style: italic;
    padding: 5px 50px 0px;
    font-size: small;
    color: gray;
}

.createPost__top > div > form {
    flex: 1;
    display: flex;
}

.createPost__top > div > form > input {
    outline-width: 0;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: #eff2f5;
}

.createPost__body {
    flex: 1;
}

.createPost__bottom {
    display: flex;
    justify-content: space-evenly;
}

.createPost__option {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    color: gray;
    margin: 10px 5px;
}

.createPost__option:hover {
    background-color: #eff2f5;
    border-radius: 10px;
    cursor: pointer;
}

.createPost__option h3 {
    font-size: medium;
    margin-left: 10px;
}

