.create__comment {
    display: flex;
    align-items: center;
    padding: 0px 15px 20px;
}

.create__comment > form {
    display: flex;
    width: 100%;
}

.comment__input {
    outline-width: 0;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 999px;
    background-color: #eff2f5;
    width: 100%;
}