.create__comment {
    display: flex;
    padding: 0px 15px 20px;
    flex-direction: column;
}

.create__comment > div {
    display: flex;
    width: 100%;
}

.create__comment > div > form {
    display: flex;
    width: 100%;
}

.create__comment > p {
    font-style: italic;
    padding: 5px 50px 0px;
    font-size: small;
    color: gray;
}

.comment__input {
    outline-width: 0;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 999px;
    background-color: #eff2f5;
    width: 100%;
}

