.splash{
    background-color: #f0f2f5;
    /* height: 67vh; */
    height: fit-content;
    padding: 155px 220px;
    display: grid;
    grid-template-columns: 1fr 0.75fr;
    grid-column-gap: 40px;
}

.splash__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.splash__left h1 {
    padding-top: 5px;
    font-size: 24px;
}

.splash__logo {
    height: 80px;
}

.splash__logo img {
    height: 80px;
}

.splash__right {
    display: flex;
    justify-content: center;
    align-items: center;
}