.profile {
    color: #050505;
    /* background-color: #f1f2f5; */
    /* height: 100vw; */
}

.profile__top {
    height: 420px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.cover__photo {
    position: relative;
    height: 400px;
    width: 70%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.profile__avatar {
    position: absolute;
    bottom: 0px;
}

.profile__avatar img {
    height: 168px;
    width: 168px;
    border-radius: 50%;
    border: 5px solid white;
    object-fit: cover;
}

.profile__name {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin: 0 260px;
    border-bottom: 1px solid lightgray;
}

.profile__name h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.profile__name h2 {
    font-weight: normal;
    color: #65676B;
    font-size: 17px;
}

.editBio__button {
    color: #2e81f4;
    margin-top: 10px;
    font-weight: 600;
}

.editBio__button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.profile__name form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.profile__name form p {
    margin-top: 5px;
    font-size: 13px;
    color: #65676B;
}

.bio__textarea {
    outline-width: 0;
    width: 350px;
    border: 1px solid #ccd0d5;
    padding: 15px;
    border-radius: 8px;
    background-color: #eff2f5;
    font-size: 15px;
    font-family: inherit;
    text-align: center;
}

.bio__textarea::-webkit-scrollbar {
    display: none;
}

.bio__buttons {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.bio__buttons button,
.bio__buttons div {
    border: none;
    margin-left: 6px;
    border-radius: 5px;
    padding: 10px; 
    font-weight: 600;
    font-size: 15px;
    background-color: #eff2f5;
}

.bio__buttons button:hover,
.bio__buttons div:hover {
    cursor: pointer;
    background-color: #d5d8dbab;
}

.profile__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 260px;
    height: 60px;
    border-bottom: 2px solid rgba(211, 211, 211, 0.733);    
}

.profileNav__links {
    display: flex;
    align-items: center;
    color: #65676B;
    font-weight: 600;
}

.profileNav__links div {
    margin-right: 20px;
    padding: 16px 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.profileNav__links div:hover {
    color: #2e81f4;
    cursor: pointer;
    padding-bottom: 12px;
    border-bottom: 4px solid #2e81f4;
    background-color: #eff2f5;
}

.profileNav__edit {
    display: flex;
    align-items: center;
    height: 40px;
    margin: 5px 0;
    padding: 0px 10px;
    border-radius: 5px;
    font-weight: 600;
    background-color: #eff2f5;
}

.profileNav__edit:hover {
    cursor: pointer;
    background-color: #d5d8dbab;
}

.profileNav__edit > .MuiSvgIcon-root {
    margin-right: 10px;
}

.profile__bottom {
    background-color: #f1f2f5;
    height: 50vw;
    padding: 0 260px;
    display: grid;
    grid-template-columns: 0.80fr 1fr;
    padding-top: 13px;
    grid-column-gap: 15px;
}

.bottom__left {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 15px;
    height: fit-content;
}

.bottom__left > div {
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.bottom__left h1 {
    font-size: 20px;
    margin-bottom: 5px;
}

.profile__intro {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile__intro > div {
    display: flex;
    align-items: center;
    padding: 10px 10px;
}

.profile__intro .MuiSvgIcon-root {
    margin-right: 10px;
    color: gray;
}

.profile__intro p {
    line-height: 18px;
}

.profile__intro span {
    font-weight: 600;
}

.profileIntro__edit {
    align-self: center;
    border-radius: 5px;
    font-weight: 600;
    margin: 5px 0;
    width: 90%;
    background-color: #eff2f5;
    display: flex;
    justify-content: center;
}

.profileIntro__edit > .MuiSvgIcon-root {
    color: #050505;
}

.profileIntro__edit:hover {
    cursor: pointer;
    background-color: #d5d8dbab;
}

.profile__photos {
    background-color: white;
}

.profile__friends {
    background-color: white;
}

.bottom__right {
    border-radius: 10px;
    /* background-color: lightskyblue; */
}