/* PROFILE PHOTO MODAL AND BUTTON */

.profile__add {
    position: absolute;
    right: 10px;
    bottom: 10px;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #E4E6EB;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.profile__add:hover {
    cursor: pointer;
    background-color: #cfd2d8;
}

.photo__modal, 
.cover__modal, 
.editProfile__modal {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #050505;
}

.photo__modal > div, 
.cover__modal > div, 
.editProfile__modal > div {
    font-size: 20px;
    height: 49px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.photo__modal > form > p,
.cover__modal > form > p {
    margin-top: 5px;
    font-size: 13px;
    color: #65676B;
}

.photo__textarea, .cover__textarea,
.editProfile__modal > form > input {
    margin-top: 15px;
    outline-width: 0;
    width: 360px;
    border: 1px solid #ccd0d5;
    padding: 15px;
    border-radius: 8px;
    background-color: #eff2f5;
    font-size: 15px;
    font-family: inherit;
    text-align: center;
}

.photo__textarea::-webkit-scrollbar,
.cover__textarea::-webkit-scrollbar {
    display: none;
}

.photo__buttons,
.cover__buttons,
.editProfile__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    
}

.photo__buttons button,
.photo__buttons div,
.cover__buttons button,
.cover__buttons div,
.editProfile__buttons button,
.editProfile__buttons div {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    margin-left: 6px;
    border-radius: 5px;
    padding: 10px; 
    font-weight: 600;
    font-size: 15px;
    background-color: #eff2f5;
}

.cover__buttons button,
.photo__buttons button,
.editProfile__buttons button {
    padding: 9px;
}

.photo__buttons button:hover,
.photo__buttons div:hover,
.cover__buttons button:hover,
.cover__buttons div:hover,
.editProfile__buttons button:hover,
.editProfile__buttons div:hover {
    cursor: pointer;
    background-color: #d5d8dbab;
}


/* COVER PHOTO ADD AND MODAL */

.cover__add {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E4E6EB;
    bottom: 20px;
    right: 20px;
    border-radius: 5px;
    padding: 10px 12px;
    font-weight: 600;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.cover__add > .MuiSvgIcon-root {
    margin-right: 10px;
}

.cover__add:hover {
    cursor: pointer;
    background-color: #cfd2d8;
}

/* EDIT PROFILE MODAL */

.editProfile__modal > form > h3 {
    padding-top: 10px;
}

.editProfile__modal > form > input {
    text-align: left;
}

.editProfile__modal > form {
    display: flex;
    flex-direction: column;
}

.editProfile__buttons {
    align-self: flex-end;
}
