#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

#modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(231, 231, 231, 0.8);
}

#modal-content {
    height: fit-content;
    width: 440px;
    border-radius: 10px;
    position: absolute;
    background-color: white;
}

#modal__close-button {
    position: relative;
    cursor: pointer;
}

#close__button {
    position: absolute;
    top: 7px;
    right: 5px;
    border-radius: 8px;
    font-size: 30px;
    font-weight: 800;
}

#close__button:hover {
    background-color: rgba(211, 211, 211, 0.76);
}
